#list-title {
  margin: 10px;
}

#todo-working {
  display: flex;
  width: 800px;
  flex-direction: column;
  padding: 20px;
  background-image: linear-gradient(
    to right,
    rgb(135, 217, 250),
    rgb(0, 102, 255)
  );
  border-radius: 10px 10px 10px 10px;
  margin-bottom: 15px;
}

#todo-done {
  display: flex;
  width: 800px;
  flex-wrap: wrap;
  flex-direction: column;
  padding: 20px;
  background-image: linear-gradient(
    to right,
    rgb(252, 167, 87),
    rgb(255, 94, 0)
  );
  border-radius: 10px 10px 10px 10px;
}

#todo-content {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
}

h2 {
  color: white;
}
